
@font-face {
    font-family: 'bebasneue';
    src: url('fonts/BebasNeue Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.bebas {
    font-family: bebasneue;
}

.verde {
    color: #ACCC44 !important;
}

.hide{
    display: none;
}

#contenedor {
    /*Tamańo 1920 x 1080*/
    background-color: grey;
    /* border:2px solid #FF0000;*/
}

#derecha {
    background-color: #bcbbbb;
    width: 2500px;
    height: 1134px;
    margin-top: -27px;
}

#barra {
    background: url('img/columna_01.jpg');
    padding-top: 53px;
    width: 105px;
    height: 1080px;
}

.incon {
    margin-left: 50%;
    margin-top: 15%;
    margin-bottom: 10%;
}

.project-container {
    /*	margin: 50px;*/
    background: black !important;
}

.project-box {
    background: white;
    width: 500px;
    height: 400px;
    display: inline-block;
    margin-left: 32px;
    margin-bottom: 25px;
}

.sub-box {
    background: #017070 !important;
    height: 227px !important;
    padding-top: 0px;
    color: #017070;
    margin: 12px;
}

.sub-box h1 {
    margin-top: 19px;
    margin-bottom: 7px;
}

.desc-text {
    color: black !important;
}

.icono {
    padding: 0px;
}

.icono li {
    height: 107px;
    width: 105px;
    list-style-type: none;
}

.icono li img {
    height: 100px;
    width: 100px;
    margin-left: 5px;
}


#content {
    display: inline-block;
    height: 1080px;
    position: absolute;
    top: 0px;
    padding-top: 50px;
}


#content .imagenuno, #content .imagendos {
    margin: 20px;
    width: 800px;
    height: 600px;
    display: inline-block;
    padding-left: 50px;
    padding-top: 100px;
}

#content .imagenuno img, #content .imagendos img {
    width: 700px;
    height: 500px;
    margin-top: 30px;
}

#content .imagenuno span, #content .imagendos span {
    font-size: 25pt;
    font-family: bebasneue;
    color: gray;
    margin-left: 250px;
}

#content .detail {
    margin: 20px;
}

#content .detail .titulo {
    font-size: 5em;
    color: #3AB8B2;
    display: block;
    margin-bottom: 2px;
}

#content .detail .subtitulo {
    font-size: 3em;
    color: #3AB9B2;
    display: block;
    margin-bottom: 2px;
}

#content .detail .detalle {
    font-size: 2em;
    color: gray;
    margin-bottom: 2px;
    background-color: white !important;
}

#content1 {
    font-family: "Bebas Neue", Sans-Serif;
    display: inline-block;
    height: 540px;
    position: absolute;
    top: 0px;
}

/*.selected {
    background-color: black !important;
    color: orange;
}*/

.cabecera {
    width: 100%;
    height: 110px;
    /*margin-bottom: 25px;*/
    display:inline-block;
    font-family: bebasneue;
}

.cabecera .titulo {
    color: #3AB9B2;
    font-size: 40pt;
    margin-left: 50px;
    margin-bottom: 15px;
}

.cabecera .subtitulo {
    color: #3AB9B2;
    font-size: 30pt;
    margin-left: 50px;
}

#fases {
    //width: 500px;
    display: inline-block;
    margin-top: 40px;
    position: absolute;
    margin-left: 55px;
}

#fases span {
    font-size: 22pt;
    margin-left: 21px;
    display: block;
    height: 30px;
    color: gray;
    margin-top: 18px;
}

.linea {
    width: 1800px;
    height: 2px;
    background: #D2D7DA;
    //margin: 10px 0px;
    z-index: 9;
    position: relative;
    margin-bottom: 27px;
    margin-top: 9px;
}

#mapa {
    width: 1816px;
    height: 800px;
    margin-top:-50.9px;
    margin-bottom:30px;
}

.descripcion {
    font-size: 15pt;
    color: gray;
    margin-bottom: 2px;
    background-color: white !important;
}

.contenedor_detalle_footer {
    width: 1200px;
    margin-left: 30px;
    float:left;
}

.texto_galeria {
    position: absolute;
    top: 875px;
}

/* ======================================================= */
/* Pantalla Splash */
/* ======================================================= */

.splash_screen {

    width:1920px;
    height:1080px;
    background-color:white;
    margin-top:-27px;
}

.splash_icono {
    width:550px;
    height:220px;
    vertical-align:middle;
    cursor:pointer;
    margin-left:auto;
    margin-right:auto;
    display:block !important;
    position:relative;
    top:390px;
}

/* ======================================================= */

/* ======================================================= */
/* Pantalla Proyectos */
/* ======================================================= */

.box-seleccionado {
    border-color: white;
    border-style: solid;
}

/* ======================================================= */

/* ======================================================= */
/* Pantalla Detalle */
/* ======================================================= */

.detalle {
    width: 1250px;
    margin-left: 50px;
    display:inline-block;
}

.img_principal {
    margin-left: 30px;
    display: inline-block;
    width: 1100px;
    height: 680px;
    float:left;
}

.sub_detalle {
    width: 300px;
    height: 192px;
    margin-bottom: 35px;
}

.titulo_sub_detalle {
    color: #ACCC44;
    font-size: 20pt;
    margin-bottom: 10px;
    width: 300px;
    font-family: bebasneue;
}

.contenedor_sub_detalle {
    width: 300px;
    margin-left: 60px;
    display: inline-block;
}

.contenedor_no_principal {
    width: 1815px;
    height: 1134px;
    display: inline-block;
}

.contenedor_indicadores {
    width: 200px;
    display: inline-block;
    margin-left:60px;
}

.seccion1 {
    width: 1350px;
    height: 700px;
    display: inline-block;
}

.seccion2 {
    width: 270px;
    height: auto;
    display: inline-block;
}

.indicador {
    margin-bottom: 70px;
    height: 255px;
    width: auto;
}
/* ======================================================= */

/* ======================================================= */

/* ======================================================= */
/* Pantalla Galeria */
/* ======================================================= */

.imgGaleria {
    margin-top: -83.9px;
    margin-bottom: 30px;
    width: 1400px;
    height: 850px;
    display: inline-block;
    float:left;
}

.thumbnail {
    margin-bottom: 30px !important;
    width: 290px;
    height: 180px;
}

.contenedor_sub_imagenes {
    width: 200px;
    margin-left: 35px;
    display: inline-block;
}
/* ====================== RECURSOS ================================= */

#recursos{
    background-color: #F0F5F8;
    width: 1815px;
    font-size: 1.5em;
    padding-bottom: 30px;
    padding-top: 10px;
    margin-top: 95px;
    font-family: sans-serif;
}

#recursos .cantidad{
    display: inline-block;
    width: 150px;
    color: #929699;
}

#recursos .titulo{
    display: inline-block;
    width: 160px;
    text-align: right;
}

#recursos img{
    vertical-align: middle;
    margin-right: 5px;
}

.recurso{
    border-bottom: 3px solid;
    border-bottom-color: #D2D7DA;
    margin-left: 90px;
    margin-right: 90px;
    padding-left: 120px;

}

.img_leyenda{
    float:right;
    margin-right:77px;
    margin-top:30px;
}

.timeline {
    margin-top: 50px;
}


/* ====================== PAB ================================= */


.subtitulo_lateral {
    text-align: center;
    font-size: 35pt;
    width: 100%;
    display: block;
    margin-bottom: 15px;
}

#pantalla_pabellones img {
    /*margin-top: -83.9px; */
    margin-bottom: 30px;
    margin-left: 80px;
    width: 1135px;
    height: 775px;
    display: inline-block;
    float: left;
}

.pab_btn{
    /* width: 100%; */
    padding: 5px;
    background-color: #3AB9B2;
    border-radius: 10px;
    color: white;
    font-family: bebasneue;
    font-size: 25pt;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
}

.selected {
    background-color: #75A1AA !important; 
}

#pabellones {
    margin-left: 45px;
    margin-right: 38px;
}

#pabellones .descripcion {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
    font-size: 20pt;
}